body {
  margin: 0;
  padding: 0;
}

.food-item{
  width: 90%;
  height: 50px;
  margin: 10px;
  padding: 7px;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}

.food-item-set {
  width: 90%;
  height: 50px;
  margin: 10px;
  padding: 7px;
  background-color: rgba(0,0,0,0);;
}

.food-item-title {
  margin: 2px;
  padding: 2px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.food-item-desc {
  margin: 2px;
  padding: 2px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

#InitialItems {
  width: 400px;
  height: 70px;
  padding: 10px;
  margin: 0;
  border: 1px solid #aaaaaa;
  display: table-cell;
}

#MenuArea {
  margin: 0;
  width: 1200px;
  height: 95vh;
  padding: 10px;
  border: 1px solid #aaaaaa;
  display: table-cell;
  background-image: url(sample-menu.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #dddddd;
}
